body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(230, 230, 230);
}

.container {
    border: none;
    border-radius: 15px;
    background-color: rgb(156, 222, 252);
    width: 90%;
    max-width: 400px;
    box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.header {
    text-align: center;
    font-size: 1.7em;
    font-weight: 900;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.addTask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-right: 10px;
}

button {
    background-color: rgb(244, 242, 153);
    color: rgb(11, 11, 11);
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(224, 222, 133);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: white;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background-color: rgb(255, 99, 99);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

li button:hover {
    background-color: rgb(225, 79, 78);
}